In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ML/laptop_price.csv', 
                 encoding='latin-1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
df['Company'] = labelencoder.fit_transform(df['Company'])
df['Product'] = labelencoder.fit_transform(df['Product'])
df['TypeName'] = labelencoder.fit_transform(df['TypeName'])
df['Inches'] = labelencoder.fit_transform(df['Inches'])
df['ScreenResolution'] = labelencoder.fit_transform(df['ScreenResolution'])
df['Cpu'] = labelencoder.fit_transform(df['Cpu'])
df['Ram'] = labelencoder.fit_transform(df['Ram'])
df['Memory'] = labelencoder.fit_transform(df['Memory'])
df['Gpu'] = labelencoder.fit_transform(df['Gpu'])
df['OpSys'] = labelencoder.fit_transform(df['OpSys'])
df['Weight'] = labelencoder.fit_transform(df['Weight'])
df['Price_euros'] = labelencoder.fit_transform(df['Price_euros'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   int64
 2   Product           1303 non-null   int64
 3   TypeName          1303 non-null   int64
 4   Inches            1303 non-null   int64
 5   ScreenResolution  1303 non-null   int64
 6   Cpu               1303 non-null   int64
 7   Ram               1303 non-null   int64
 8   Memory            1303 non-null   int64
 9   Gpu               1303 non-null   int64
 10  OpSys             1303 non-null   int64
 11  Weight            1303 non-null   int64
 12  Price_euros       1303 non-null   int64
dtypes: int64(13)
memory usage: 132.5 KB

In [ ]:
X=df.drop(['laptop_ID', 'Company', 'Price_euros'],axis=1)
y=df['Price_euros']

X

,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
0,300,4,7,23,65,8,4,58,8,38
1,301,4,7,1,63,8,2,51,8,35
2,50,3,14,8,74,8,16,53,4,74
3,300,4,13,25,85,1,29,9,8,71
4,300,4,7,23,67,8,16,59,8,38
...,...,...,...,...,...,...,...,...,...,...
1298,580,0,10,13,89,5,4,47,5,78
1299,588,0,7,19,89,1,29,47,5,41
1300,196,3,10,0,34,3,35,40,5,56
1301,2,3,14,0,89,7,10,21,5,104
1302,568,3,14,0,34,5,26,40,5,113

In [ ]:
y

0       524
1       342
2       168
3       745
4       637
       ...
1298    200
1299    575
1300      8
1301    265
1302     67
Name: Price_euros, Length: 1303, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=10)
X_train

,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
1143,593,5,14,15,92,8,16,100,7,128
298,202,3,14,8,0,7,10,18,5,124
1158,81,3,14,8,68,8,1,21,5,129
1125,474,0,10,13,89,8,16,47,5,78
525,459,3,10,8,68,8,16,47,7,88
...,...,...,...,...,...,...,...,...,...,...
1180,472,0,10,30,68,8,16,47,5,37
1147,551,3,14,8,97,8,16,72,5,102
527,211,3,14,0,56,8,22,67,4,113
1149,472,0,10,30,89,8,16,47,5,29
1289,602,4,7,15,45,8,29,46,5,32

In [ ]:
y_train

1143    711
298     137
1158    279
1125    606
525     525
       ...
1180    601
1147    389
527     110
1149    726
1289    247
Name: Price_euros, Length: 1042, dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
hasil_prediksi = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(hasil_prediksi,y_test))

0.034482758620689655